.App {
  text-align: center;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  padding-top: 1em;
}


.item {
  flex-basis: auto;
  height: 10em;
  flex: 1;
}